# Dependency directories
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
build/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caching
.eslintcache
.cache

# Testing
/coverage
*.lcov

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Temporary files
*.tmp
*.bak
*.swp
*~
._*

# Misc
.turbo/
.contentlayer/
